@import url('https://fonts.googleapis.com/css?family=Rubik:500&display=swap');
.Button {
  font-family: 'Rubik';
  font-size: 25px;
  text-align: center;
  width: 80px;
  height: 90px;
  margin: 2.5px;
  border-radius: 20px;
}