@import url('https://fonts.googleapis.com/css?family=Rubik:500&display=swap');
* {
  box-sizing: border-box;
}

button {
  font-family: 'Rubik';
  font-size: 25px;
  text-align: center;
  width: 80px;
  height: 90px;
  margin: 2.5px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.Normal {
  background-color: #ffffff;
}

.Normal:hover {
  background-color: #f2f2f2;
}

.Operator {
  background-color: #ffaf43;
}

.Operator:hover {
  background-color: #eb992f;
}
