@import url('https://fonts.googleapis.com/css?family=Rubik:500,700&display=swap');
* {
  box-sizing: border-box;
  font-size: 'Rubik';
}

.Screen {
  position: relative;
  width: 335px;
  height: 120px;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 2.5px;
}

.Screen > p {
  margin: 0;
}

.Screen .Equation {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: 500;
}

.Screen .Result {
  position: absolute;
  top: 2.5px;
  right: 10px;
  font-size: 50px;
  font-weight: 700;
}
